@import '../../components/variables.css';

.container {
  margin: auto;
  max-width: var(--container-width);
  padding: 30px 10px;
}

.videoContainer {
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.headingContainer {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.heading {
  font-size: 48px;
  padding: 80px 10px 0;
}

.logo {
  background-image: url("../../../static/img/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin: auto;
}

.video {
  margin-top: -70px;
  width: 100%;
}

@media (--xs-viewport) {
  .video {
    margin-top: 0px;
  }

  .heading {
    font-size: 24px;
    padding-top: 40px;
  }

  .videoContainer {
    height: 160px;
  }
}
