.root {
  --border-type: 1px solid var(--border-color);
  border-bottom: var(--border-type);
  height: var(--header-height);
}

.opaque {
  border-color: transparent;
  position: absolute;
  z-index: 1;

  & .link {
    border-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

.items {
  display: flex;
}

.link {
  border-right: var(--border-type);
  color: var(--main-font-color);
  font-size: 20px;
  line-height: var(--header-height);
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
