@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.css';

:root {
  --main-bg-color: #272B30;
  --main-font-color: #c8c8c8;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}
