@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../node_modules/react-datepicker/dist/react-datepicker-cssmodules.min.css';
@import '../variables.css';
@import '../../components/font.css';

:root {
  --brand-primary-color: #E4E654;
  --main-bg-color: #272B30;
  --main-font-color: #c8c8c8;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: Kurale;
}
