.root {
  align-items: center;
  background-color: #181818;
  border-top: 1px solid #606060;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.link {
  color: var(--main-font-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.vkLink {
  --size: 50px;
  background-color: transparent;
  background-image: url("../../../static/img/vk.svg");
  background-size: contain;
  border-radius: 5px;
  display: block;
  height: var(--size);
  transition: background-color .3s linear;
  width: var(--size);

  &:hover {
    background-color: #507299;
  }
}
