:root {
  /*
   * Media queries breakpoints
   * ======================================================================== */

  @custom-media --xs-viewport (max-width: 480px);
  @custom-media --sm-viewport (max-width: 768px);
  @custom-media --md-viewport (max-width: 992px);
  @custom-media --lg-viewport (max-width: 1200px);

  /*
   * Sizes
   * ======================================================================== */

  --header-height: 50px;
  --container-width: 992px;

  /*
   * Colors
   * ======================================================================== */

  --border-color: #1c1e22;
  --link-color: var(--brand-primary-color)
}
