:root {
  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  @custom-media --xs-viewport (max-width: 480px);
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
   * Sizes
   * ======================================================================== */

  --header-height: 50px;

  /*
   * Colors
   * ======================================================================== */

  --border-color: #1c1e22;
}
