@import '../../components/variables.css';

:root {
  color: #000;
  background-color: #E8F9F3;
  --main-font-color: #000;
  --brand-primary-color: #000;
}

.logo {
  --logo-size: 200px;
  background-image: url("../../../static/img/logo-black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: var(--logo-size);
  margin: 0 auto;
  opacity: .8;
  width: var(--logo-size);
}

.heading {
  font-size: 42px;
  padding: 30px 0;
  margin: 0;
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.sellingText {
  font-size: 18px;
  padding: 0 30px;
  text-align: center;
  margin: 5px auto;
  max-width: 500px;
}

.question {
  font-weight: bold;
  font-size: 19pt;
  letter-spacing: 1px;
  line-height: 21pt;
}

.contacts {
  position: relative;
  text-align: center;
}

.link {
  color: var(--brand-primary-color);
  font-size: 24px;
  display: inline-block;
  padding: 5px;
}

.errorTitle {
  color: var(--brand-primary-color);
  font-size: 20px;
  margin: 5px;
  text-align: center;
}

.lady,
.gentleman {
  background-position: bottom;
  background-repeat: no-repeat;
  bottom: 0;
  opacity: .8;
  position: absolute;
}

.lady {
  background-image: url("../../../static/img/lady.png");
  background-size: 280px;
  height: 600px;
  width: 300px;
}

.gentleman {
  background-image: url("../../../static/img/gentleman.png");
  background-size: 400px;
  right: 0;
  height: 600px;
  width: 300px;
}

.container {
  min-height: 100vh;
  min-width: 992px;
  position: relative;
}

@media (--xs-viewport) {
  .heading {
    font-size: 24px;
  }
}
