.button {
  background: var(--main-bg-color);
  border-radius: 4px;
  border: 2px solid var(--brand-primary-color);
  color: var(--brand-primary-color);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 10px;
  outline: none;
  padding: 15px;
}

.inputHeading {
  padding-top: 10px;
  padding-bottom: 5px;
}

.label, .choiseLabel {
  padding: 5px 0;
  text-transform: capitalize;
}

.label {
  display: block;
}

.choiseLabel {
  display: inline-block;
  padding-right: 15px;
}

.checkInput {
  width: 18px;
}

.select {
  height: 30px;
  margin-left: 10px;
  width: 40px;
}
