@import '../variables.css';

.button,
.signupButton {
  background: var(--main-bg-color);
  border-radius: 4px;
  border: 2px solid var(--brand-primary-color);
  color: var(--brand-primary-color);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 10px;
  outline: none;
  padding: 15px;

  &:disabled {
    cursor: wait;
    opacity: .8;
  }
}

.signupButton {
  width: 215px;
}

.link {
  color: var(--brand-primary-color);
}

.inputHeading {
  padding-top: 20px;
  padding-bottom: 5px;
}

.label {
  padding: 5px 0;
}

.label {
  display: block;
}

.error {
  color: var(--brand-primary-color);
}

.checkInput {
  width: 18px;
}

.select {
  height: 30px;
  margin-left: 10px;
  width: 40px;
}

@media (--xs-viewport) {
  .button {
    font-size: 18px;
    padding: 15px;
  }
}
