.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}

.container {
  margin: 0 15px;
}

.table {
  border-spacing: 10px;
  border-collapse: separate;
  white-space: nowrap;
}
